body {
    width: 600px;
}

.selectedGrid {
    border: 2px solid silver;
    display: inline-block;
}

.selectedNodePanel {
    display: inline-block;
}

.treePanel {
    display: inline-block;
    border: 2px solid silver;
}

.panel {
    margin: 10px 10px 10px 10px;
}

.allNodesGrid {
    border: 2px solid silver;
}