@main-color: #f6f4df;
@width: 600px;
@popup-color: #857F5E;

.bordered {
    border: 1px solid;
    border-radius: 4px;
}

/*.show {
    display: inline-block;
}*/

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.rowToggleButton {
    display: inline-block;
    
    width: 16px;
    height: 16px;
    margin: 2px 2px 2px 2px;
}

.rowToggleButton-up {
    background: url(open-button-small.png) no-repeat;
}
.rowToggleButton-up-hovering {
    background: url(open-button-small.png) no-repeat;
}

.rowToggleButton-down {
    background: url(close-button-small.png) no-repeat;
}


.rowToggleButton-down-hovering {
    background: url(close-button-small.png) no-repeat;
}

.rowText {
    display: inline-block;
    margin: 2px 2px 2px 2px;
    width: 50px;
    height: 20px;
}

.gwt-Label {
    font-weight: bold;
}

.gwt-DecoratedPopupPanel {
    .bordered();
    padding: 3px;
    background-color: @popup-color;
    width: 250px;
    height: 60px ;
    overflow: visible;
    position: fixed !important;
    left: 10px !important;
    top: 90% !important;
    
    .gwt-HTML {
        font-size: larger;
        padding: 20px 20px 20px 20px;
        font-weight: bold;
    }
}

.upperPanel {
    width: @width + 10;
    display: block;
}

.treePanel {
    display: inline-block;
    width: 38%;
    height: 150px;
    vertical-align: top;
}

.treeScroll {
    .bordered();
    height: 75%;
    margin: 2px 4px 2px 4px;
    background-color: @main-color;
    overflow-y: scroll !important;
}

.gwt-Tree {
    .gwt-TreeItem {
        padding: 1px 0px;
        margin: 0px;
        white-space: nowrap;
        cursor: hand;
        cursor: pointer;
    }    
}

.gwt-TreeItem-selected {
        color: #005C53;
        font-weight: bolder;
    }

.selectedNodePanel {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin: 2px 4px 2px 4px;
    

}

.selectedNodeTable {
    height: auto;
    .bordered();
    background-color: @main-color;
}

.selectedGrid {
    display: block;
    border-collapse: collapse;
    //border-radius: 4px;
    width: 98%;
    table-layout: fixed;
    margin: 5px 8px 5px 8px;
    td {
        border: 1px solid;
        height: 27px;
        width: 169px;
        padding: 2px 2px 2px 2px;
        .gwt-TextBox {
            width: 160px;
        }
    }
}

.lowerPanel {
    width: @width;
    display: block;
}

.customTree {
    .treeScroll();
    height: 150px;
    margin: 0px 0px 0px 0px;
    width: 602px;
}

.treeTable td {
    padding: 0px 0px 0px 0px;
}

.buttonPanel {
    width: 602px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    .bordered();
    background-color: @main-color;
}

.buttonPanel > * {
    display: inline-block;
    margin: 5px 4px 5px 4px;
}

.selectedLabel {
    font-weight: normal;
}

.allNodesPanel {
    height: auto;
    width: 100%;
    .bordered();
    background-color: @main-color;
}

.allNodesPanel > .gwt-Button {
    margin: 5px 2px 2px 5px;
}

.allNodesGrid {
    margin: 4px 5px 4px 5px;
    width: 98%;
    table-layout: fixed;
    border: 1px solid;
    border-collapse: collapse;
    align-content: center;
    
    td {
        border: 1px solid;
        padding: 2px 2px 2px 2px;
    }
}




























