* {
    margin: 5px 2px 5px 2px !important;
}

#page{
    width: 800px;
    margin: 0 auto
}

.gwt-Button {
    background-color: white;
    border-radius: 5px;
}

.gwt-Button:focus {
    background-color: red;
}

.gwt-Label {
    font-weight: bold;
}

tr, td {
    border: 1px solid;
}

colgroup {
    width: inherit;
}

.selectedGrid {
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
    width: 300px;
    text-align: left;
    height: auto;
    background-color: #f6f4df;
}

.selectedNodePanel {
    display: inline-block;
}

.treeScroll {
    border: 2px solid black;
    border-radius: 4px;
    width: 300px;
    min-height: 150px;
    max-height: 187px;
    background-color: #f6f4df;
}

.treePanel {
    display: flex;
    flex-direction: column;
}

.textBox {
    background-color: #F6F4DE;
    font-weight: bold;
    border: 0px;
}

.buttonPanel {
    border: 2px solid black;
    border-radius: 4px;
    width: 612px;
    background-color: #f6f4df;
}

.panel {
	display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}

.allNodesPanel {
    width: auto;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #f6f4df;
}

.allNodesGrid {
    border: 1px solid black;
    width: 604px;
    text-align: center;
    background-color: #f6f4df;
}