* {
    margin: 5px 2px 5px 2px !important;
}

#page{
    width: 800px;
    margin: 0 auto
}

tr, td {
    border: 1px solid;
}

colgroup {
    width: inherit;
}

.selectedGrid {
    border: 2px solid black;
    display: inline-block;
    width: 300px;
    text-align: left;
    height: auto;
}

.selectedNodePanel {
    display: inline-block;
}

.treePanel {
    display: inline-block;
    border: 2px solid black;
    width: 300px;
    height: auto;
}

.buttonPanel {
    border: 2px solid black;
    width: 604px;
}

.panel {
	display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}

.allNodesPanel {
    width: 604px;
    border: 2px solid black;
}

.allNodesGrid {
    border: 1px solid black;
    width: 604px;
    text-align: center;
}