@main-color: #f6f4df;
@popup-color: #857F5E;
@selected-color: #005C53;
@width: 600px;
@margin-value: 4px;

.borders {
    border: 1px solid;
    border-radius: 4px;
}

.row-toggle-button-up {
    background: url(open-button-small.png) no-repeat;
}
.row-toggle-button-up-hovering {
    background: url(open-button-small.png) no-repeat;
}

.row-toggle-button-down {
    background: url(close-button-small.png) no-repeat;
}

.row-toggle-button-down-hovering {
    background: url(close-button-small.png) no-repeat;
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.tree {
    display: inline-block;
    width: @width / 2 - 2px;
    height: @width / 4 + 3px;
    vertical-align: top;

}

.gwt-Label {
    font-weight: bold;
}

.scroll {
    overflow-y: scroll !important;
    background-color: @main-color;
    .borders();
    height: 75%;
}

.notification-widget-popup {
    .borders();
    padding: 3px;
    background-color: @popup-color;
    width: 250px;
    height: 60px;
    overflow: visible;
    position: fixed !important;
    left: 10px !important;
    top: 90% !important;
    
    .default-message {
        font-size: larger;
        padding: 20px;
        font-weight: bold;
    }
    
    .error-message {
        .default-message();
        color: red;
    }
}

.tree-panel {
    .tree();
    margin-left: 0px;
    margin-right: @margin-value / 2;
    
    .tree-scroll {
        .scroll();
        
        .gwt-Tree {
            .gwt-TreeItem {
                padding: 1px 0px;
                margin: 0px;
                white-space: nowrap;
                cursor: hand;
                cursor: pointer;
            }
        }
    }
}

.gwt-TreeItem-selected {
    color: @selected-color;
    font-weight: bolder;
}

.custom-tree-panel {
    .tree();
    
    margin-left: @margin-value / 2;
    
    .custom-tree {
        .scroll();
        
        .tree-table {
            border-collapse: collapse;
            
            td {
                padding: 0px;
            }
            
            .row-toggle-button {
                display: inline-block;
                width: @margin-value * 4;
                height: @margin-value * 4;
                margin: @margin-value;
            }
            
            .row-text {
                display: inline-block;
                margin: @margin-value;
                width: 90px;
                height: 20px;
                vertical-align: 7px;
            }
            
            .row-text:hover {
                cursor: default;
            }
        }
    }
}

.selected-node-panel {
    display: inline-block;
    position: fixed;
    width: 367px;
    margin: @margin-value;
    margin-left: 6px;
    margin-top: 0px;
    
    .selected-node-table {
        .borders();
        background-color: @main-color;
        height: auto;
        
        .selected-grid {
            display: block;
            border-collapse: collapse;
            width: 98%;
            table-layout: fixed;
            margin: 4px 8px 4px 8px;
            
            td {
                border: 1px solid;
                height: 27px;
                width: 170px;
                padding: @margin-value / 2;
                
                .gwt-TextBox {
                    width: 160px;
                }
            }
        }
    }
}

.button-panel {
    .borders();
    width: @width;
    height: 30px;
    margin-top: @margin-value;
    margin-bottom: @margin-value;
    background-color: @main-color;
    
    .gwt-Button {
        margin: @margin-value;
        display: inline-block;
    }
    
    .selected-label {
        display: inline-block;
        margin: @margin-value;
        font-weight: normal;
    }
}

.lower-panel {
    width: @width;
    display: block;
    
    .gwt-Button {
        margin: @margin-value;
        margin-left: 0px
    }
    
    .all-nodes-panel {
        .borders();
        width: 100%;
        height: auto;
        background-color: @main-color;
        
        .all-nodes-grid {
            width: 98%;
            margin: @margin-value;
            margin-left: @margin-value + 2px;
            margin-right: @margin-value + 2px;
            table-layout: fixed;
            border: 1px solid;
            border-collapse: collapse;
            
            td {
                border: 1px solid;
                padding: @margin-value;
            }
            
        }
    }
}

















