<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgadetsky.nodekeeper.server.mapper.NodeMapper">
    <resultMap type="com.lgadetsky.nodekeeper.shared.Node" id="nodeResultMap">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="ip" column="ip"/>
        <result property="port" column="port"/>
    </resultMap>
    
    <insert id="insert"
            parameterType="com.lgadetsky.nodekeeper.shared.Node"
            useGeneratedKeys="true">
        <selectKey keyProperty="id"
                   resultType="int"
                   order="BEFORE">
                select nextval('node_seq')
         </selectKey>
         insert into "node" (id, parent_id, name, ip, port)
         values (#{id}, #{parentId}, #{name}, )
    </insert>
    
    <select id="findById"
            parameterType="int"
            resultMap="nodeResultMap">
        select * from "node" n
            where n.id = #{id};
    </select>
    
    <select id="findAll"
            resultMap="nodeResultMap">
        select * from "node";
    </select>
    
    <update id="update"
            parameterType="com.lgadetsky.nodekeeper.shared.Node">
        update "node" set
                        name = #{parentId},
                        ip = #{ip},
                        port = #{port}
                      where id = #{id};
    </update>
    
    <delete id="deleteById"
            parameterType="int">
        delete from "node" where id = #{id};
    </delete>
</mapper>